<style>
    .table-title{
    position:relative;
    left: 80px;
    top: 10px;
    }
</style>

{% extends 'base.html' %}
{% block title %} 검색 결과 {% endblock title %}
{% block content %}
<div class="container my-3">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse" style="background-color: #982323">
        <div class="sidebar-sticky pt-3">
          <ul class="nav flex-column">
            <table class = 'table' style="background-color: #000000; color: ##691414">
              <br>
              <thead>
                  <h5 style="color:#ebc291">시설 찾기</h5>
              </thead>
              <br>
              <tbody>
                <!--필터 바-->
                <form class="form-inline my-2 my-md-0" method="get" action="{% url 'facility:showFacilitylist' %}">
                  <!--검색기능-->
                  <input class="form-control" type="text" placeholder="시설 검색" aria-label="Search" name="b" value="{{b}}">
                  <br>
                  <!--카테고리필터-->
                  <label for="customRange3" style="color: #CDCDCD">카테고리</label>
                  <div class="form-check form-check-inline">
                      <input class="form-radio-input" type="radio" id="customRadio1" name="f", value="거주시설">
                      <label class="form-radio-label" for="customRadio1" style="color: white">거주시설</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-radio-input" type="radio" id="customRadio2" name="f", value="공공도서관">
                      <label class="form-radio-label" for="customRadio2" style="color: white">공공도서관</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-radio-input" type="radio" id="customRadio3" name="f", value="공공체육시설">
                      <label class="form-radio-label" for="customRadio3" style="color: white">공공체육시설</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-radio-input" type="radio" id="customRadio4" name="f", value="공동생활가정">
                      <label class="form-radio-label" for="customRadio4" style="color: white">공동생활가정</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-radio-input" type="radio" id="customRadio5" name="f", value="공연장">
                      <label class="form-radio-label" for="customRadio5" style="color: white">공연장</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-radio-input" type="radio" id="customRadio6" name="f", value="교육기관">
                      <label class="form-radio-label" for="customRadio6" style="color: white">교육기관</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-radio-input" type="radio" id="customRadio7" name="f", value="노인복지시설(경로당)">
                      <label class="form-radio-label" for="customRadio7" style="color: white">노인복지시설(경로당)</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-radio-input" type="radio" id="customRadio8" name="f", value="노인여가복지시설">
                      <label class="form-radio-label" for="customRadio8" style="color: white">노인여가복지시설</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-radio-input" type="radio" id="customRadio9" name="f", value="노인의료복지시설(노인요양공동생활가정)">
                      <label class="form-radio-label" for="customRadio9" style="color: white">노인의료복지시설(노인요양공동생활가정)</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-radio-input" type="radio" id="customRadio10" name="f", value="노인의료복지시설(노인요양시설)">
                      <label class="form-radio-label" for="customRadio10" style="color: white">노인의료복지시설(노인요양시설)</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-radio-input" type="radio" id="customRadio11" name="f", value="노인주거복지시설">
                      <label class="form-radio-label" for="customRadio11" style="color: white">노인주거복지시설</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-radio-input" type="radio" id="customRadio12" name="f", value="단기거주시설">
                      <label class="form-radio-label" for="customRadio12" style="color: white">단기거주시설</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-radio-input" type="radio" id="customRadio13" name="f", value="도서관">
                      <label class="form-radio-label" for="customRadio13" style="color: white">도서관</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-radio-input" type="radio" id="customRadio14" name="f", value="동주민센터">
                      <label class="form-radio-label" for="customRadio14" style="color: white">동주민센터</label>
                  </div>

                  <div class="form-check form-check-inline">
                      <input class="form-radio-input" type="radio" id="customRadio15" name="f", value="문화시설">
                      <label class="form-radio-label" for="customRadio15" style="color: white">문화시설</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-radio-input" type="radio" id="customRadio16" name="f", value="문화예술회관">
                      <label class="form-radio-label" for="customRadio16" style="color: white">문화예술회관</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-radio-input" type="radio" id="customRadio17" name="f", value="문화원">
                      <label class="form-radio-label" for="customRadio17" style="color: white">문화원</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-radio-input" type="radio" id="customRadio18" name="f", value="미술관">
                      <label class="form-radio-label" for="customRadio18" style="color: white">미술관</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-radio-input" type="radio" id="customRadio19" name="f", value="박물관/기념관">
                      <label class="form-radio-label" for="customRadio19" style="color: white">박물관/기념관</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-radio-input" type="radio" id="customRadio20" name="f", value="방과후교실">
                      <label class="form-radio-label" for="customRadio20" style="color: white">방과후교실</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-radio-input" type="radio" id="customRadio21" name="f", value="복지관1">
                      <label class="form-radio-label" for="customRadio21" style="color: white">복지관1</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-radio-input" type="radio" id="customRadio22" name="f", value="복지관2">
                      <label class="form-radio-label" for="customRadio22" style="color: white">복지관2</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-radio-input" type="radio" id="customRadio23" name="f", value="아동청소년지원센터">
                      <label class="form-radio-label" for="customRadio23" style="color: white">아동청소년지원센터</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-radio-input" type="radio" id="customRadio24" name="f", value="재가노인복지시설(재가노인지원)">
                      <label class="form-radio-label" for="customRadio24" style="color: white">재가노인복지시설(재가노인지원)</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-radio-input" type="radio" id="customRadio25" name="f", value="재가노인복지시설(주야간보호)">
                      <label class="form-radio-label" for="customRadio25" style="color: white">재가노인복지시설(주야간보호)</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-radio-input" type="radio" id="customRadio26" name="f", value="지역사회재활시설">
                      <label class="form-radio-label" for="customRadio26" style="color: white">지역사회재활시설</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-radio-input" type="radio" id="customRadio27" name="f", value="지역아동센터">
                      <label class="form-radio-label" for="customRadio27" style="color: white">지역아동센터</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-radio-input" type="radio" id="customRadio28" name="f", value="직업재활시설">
                      <label class="form-radio-label" for="customRadio28" style="color: white">직업재활시설</label>
                  </div>
                  <div class="form-check form-check-inline">
                      <input class="form-radio-input" type="radio" id="customRadio29" name="f", value="틈새돌봄기관">
                      <label class="form-radio-label" for="customRadio29" style="color: white">틈새돌봄기관</label>
                  </div>

                  <button type='submit' class='btn btn-warning' style="background-color:#ebc291">검색</button>  <!--위에것과 기능은 같음-->
                  <!-- <button type='reset' class='btn btn-info'>RESET</button> -->
                </form>
              </tbody>
            </table>

            <br>
            <br>
          </ul>
        </div>
      </nav>
        </div>
    </div>


    <div class="table-title">
        <h3>전체 시설 목록</h3>
    </div>
    <div class="container my-3">
        <table class="table">
            <thead>
            <tr class="table-dark">
                <th>시설명</th>
                <th><center>구분</center></th>
                <th><center>행정동</center></th>
            </tr>
            </thead>
            <tbody>
            {% if facility_list %}
            {% for facility in facility_list %}
            <tr class="text-center">
                <td class="text-start">
                    <a href="{% url 'facility:detail' facility.id %}">{{ facility.name }}</a>
                </td>
                <td>{{ facility.cate_1 }}</td>
                <td>{{ facility.dong }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="4">시설이 없습니다.</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
        <!-- 페이징처리 시작 -->
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if facility_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ facility_list.previous_page_number }}">이전</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
            {% endif %}
            <!-- 페이지리스트 -->
            {% for page_number in facility_list.paginator.page_range %}
            {% if page_number >= facility_list.number|add:-5 and page_number <= facility_list.number|add:5 %}
            {% if page_number == facility_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
            <!-- 다음페이지 -->
            {% if facility_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ facility_list.next_page_number }}">다음</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
            {% endif %}
        </ul>
        <!-- 페이징처리 끝 -->
    </div>
    <div class="facilitylist"><a href="{% url 'facility:facilitylist' %}" style="position:relative;top:-540px;left:1020px;"> 내 위치 주변 시설 보러가기 </a></div>

{% endblock %}
